/* Global */
#game {
	background-color: #456;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
#game .outer, #game .inner {
	height: 100%;
	width: 100%;
}
#game .outer {
	background: none;
}
#game .mob {
	color: #6dd;
}

/* Header Stats */
#game header {
	font-size: 10px;
	height: 48px;
	line-height: 48px;
	text-transform: uppercase;
}
#game header .stat {
	display: inline-block;
}
#game header .stat .label, #game header .stat .value {
	vertical-align: middle;
}
#game header .stat .label {
	margin-left: 8px;
}
#game header .stat .value {
	font-size: 14px;
	font-weight: 700;
	margin-left: 4px;
}
.meter {
	background: #333;
	border-radius: 6px;
	display: inline-block;
	height: 12px;
	margin-left: 8px;
	overflow: hidden;
	vertical-align: text-top;
	width: 100px;
}
.meter .fill {
	background: green;
	display: block;
	height: 100%;
}

/* Tabs */
#game .tabs {
	height: calc(100% - 48px);
}
#game .tabpanel {
	height: calc(100%  - 48px);
}
#game .tablist {
	display: table;
	height: 48px;
	line-height: 48px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
#game .tab {
	background: #345;
	box-shadow: 0 1px 0 #678 inset;
	color: #678;
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 33%;
}
#game .tab:active {
	background: #123;
	box-shadow: 0 1px 0 #012 inset;
}
#game .tab.selected {
	color: #fff;
}

/* Explore Tab */
#tabpanel-explore section {
	height: calc(100% - 120px);
	overflow: hidden;
	position: relative;
	text-align: center;
}
#tabpanel-explore article {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Explore Tab > Room Info */
#tabpanel-explore .world .description {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
}
#tabpanel-explore .world .button {
	background: rgba(0,0,0,.5);
	display: block;
	margin: 0 16px 16px;
}
#tabpanel-explore .world .button:active {
	background: rgba(0,0,0,.8);
}

/* Explore Tab > Chat */
#tabpanel-explore .chat {
	background: rgba(0,0,0,.5);
	color: #fff;
	height: 116px;
	font-size: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2px 0;
	text-align: left;
}
#tabpanel-explore .chat .message {
	margin: 4px 8px;
}
.chat .threat_0 {
	color: lightgreen;
}
.chat .threat_1 {
	color: green;
}
.chat .threat_2 {
	color: blue;
}
.chat .threat_3 {
	color: white;
}
.chat .threat_4 {
	color: yellow;
}
.chat .threat_5 {
	color: red;
}
.chat .defend {
	color: red;
}

/* Explore Tab > Movement Controls */
#tabpanel-explore .exits {
	bottom: 8px;
	height: 100px;
	position: absolute;
	right: 8px;
	text-align: center;
	width: 100px;
}
#tabpanel-explore .exit {
	background: rgba(0,0,0,.5);
	border-radius: 24px;
	display: block;
	line-height: 48px;
	position: absolute;
	width: 48px;
}
#tabpanel-explore .exit:not(.disabled):active {
	background: rgba(0,0,0,.8);
}
#tabpanel-explore .exit.north {
	bottom: 80px;
	right: 40px;
	transform: rotate(-135deg);
}
#tabpanel-explore .exit.west {
	bottom: 40px;
	right: 80px;
	transform: rotate(135deg);
}
#tabpanel-explore .exit.east {
	bottom: 40px;
	right: 0;
	transform: rotate(-45deg);
}
#tabpanel-explore .exit.south {
	bottom: 0;
	right: 40px;
	transform: rotate(45deg);
}
#tabpanel-explore .exit .arrow {
	border: solid #fff;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 4px;
}
#tabpanel-explore .disabled {
	opacity: .2;
}

/* Sheet Component */
.sheet {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.sheet .background {
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.sheet .foreground {
	position: relative;
	z-index: 2;
}